/* 
-----------------
   GLOBAL RULES 
-----------------
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --main-color: #262C5B;
    --accent-color: #18C3B9;
    --black: #293049;
    --white: #f5f5f5;
    --lt-green: #49EEE4;
    --drk-green: #2B8C86;
    --lt-prpl: #939DFC;
    --md-prpl: #5d67be;
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      box-sizing: border-box;
}

body{
    margin: 0;
    box-sizing: border-box;
    background-color: #D7DAFF;
    font-family: 'Montserrat', arial;
    font-size: 18px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1, h2, h3, h4, p {
    max-width: 900px
}

h1 {
    font-size: 3.2rem;
    line-height: 4.5rem;
    margin: 2rem 0 1.5rem;
    color: var(--main-color);
}

h2 {
    font-size: 2.4rem;
    line-height: 4rem;
    color: var(--main-color);
    
}

h3 {
    font-size: 2rem;
    line-height: 2.8rem;
    /* margin: 1rem 0 2rem; */
    color: var(--md-prpl);
}

h4 {
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: bold;
    color: var(--main-color);
}

p {
    line-height: 1.6;
    color: var(--black);
    /* width: 100%; */
}

/* ul {
    list-style-type: square;
    margin-left: 1.2rem;
    color: var(--main-color);
} */

ul li {
    padding: 0.5rem 0;
    font-style: italic;
    font-weight: bold;
    color: var(--black);
    /* color: var(--md-prpl); */
}

.container {
    max-width: 1440px;
    min-width: 200px;
    width: 90%;
    margin: 0 auto;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-align-center {
     align-items: center;
}

.dark-bg, .dark-bg p, .dark-bg h1 {
    background-color: var(--main-color);
    color: var(--white);
}

.dark-bg {
    padding: 2.5rem;
}

.dots {
    width: 100%;
}

/* section {
    padding: 2.5rem;
} */

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-right: 1.75rem;
    font-style: normal;
    font-weight: normal;
}

nav ul li:last-child {
    padding-right: 0;
}

nav a {
    text-decoration: none;
    color: var(--white);
}

/* nav a:visited {
    color: var(--lt-prpl);
} */

.hero .col-2 {
    max-width: 500px;
}

.card, .proj-card, .proj-detail-card {
    max-width: 1440px;
    width: 100%;
    background-color: var(--white);
    border-radius: 1.3rem;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(191,191,191,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(191,191,191,1);
    box-shadow: 0px 0px 8px 0px rgba(191,191,191,1);
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 3rem;
    padding: 2.5rem;
}

.proj-card {
    margin: 0 auto;
    padding: 2.5rem;
}

/* .card img {
    background-color: #262C5B;
    width: 60%;
    height: auto;
} */

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.home-project-img {
    width: 70%;
    height: 35rem;
}

#work img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 700px;
}

#work a {
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
}

#work a:hover .card {
    transform: scale(1.0325);
    
}

#work a:hover h3 {
    text-decoration: underline;
    
}

.card-info {
    padding: 1rem 4rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}


.card-right {
    flex-direction: row-reverse;
}

.card svg {
    width: 1.1rem;
    fill: var(--main-color);
}

/* .view-btn-icon path, .view-btn-icon polygon {
    fill: var(--main-color);
} */

.view-btn {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border-radius: 2rem;
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px .4rem 0px 0px #2B8C86;
    border: 1px solid var(--drk-green);
    background-color: var(--lt-green);
    transition: .3s;
}

.view-btn:hover {
    background-color: var(--accent-color);
    box-shadow: 0;
}

/* .view-btn svg {
    margin-right: .75rem;
} */

footer {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

footer p {
    margin: 0 auto;
}

.curves {
    width: 100%;
}

.bottom-curve {
    margin-bottom: -5px;
}




/*
//////////////

Inside pages

//////////////
*/

.subhead {
    text-align: center;
}

.full-width-img {
    width: 100%;
    height: 60vh;
    max-height: 900px;
    background-color: var(--md-prpl);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width-img img {
    margin: 0 auto;
    /* display: block; */
    width: 100%;
    max-width: 850px;
}

.col-1,.col-2 {
    padding-bottom: 2.5rem;
}

.col-1 {
    width: calc(60% + 2rem);
    padding-right: 2rem;
}

.col-2 {
    width: calc(40% - 2rem);
}

.proj-detail-card {
    padding: 2.5rem;
    margin: 0 auto;
}

.proj-detail-card h2, .proj-detail-card p {
    margin-left: auto;
    margin-right: auto;
}

.light-bg {
    background-color: #fff;
    padding: 4.5rem 0 2.0rem;
    margin: auto;
}

.light-bg ul, .light-bg li {
    max-width: 900px;
}

.light-bg h1, .light-bg h2, .light-bg h3, .light-bg h4, .light-bg p, .light-bg ul {
    margin-left: auto;
    margin-right: auto;
}

.top-section-spacing {
     padding-top: 4.5rem;
}

.light-bg img {
    width: 100%;
    /* box-shadow: 0px 0px 8px 0px rgba(191,191,191,1); */
}

.bottom-spacing {
    margin-bottom: 2rem;
}

.section-spacing {
    margin-bottom: 4rem;
}

    /*
//////////////

Media queries

//////////////
*/

@media only screen and (min-width: 2000px) {
    body {
        font-size: 20px;
    }

    p {
        line-height: 1.8;
    }
  }

@media only screen and (max-width: 1250px) {
    .card {
        flex-wrap: wrap;
        min-width: 200px;
    }

    .card-info {
        width: 70%;
        min-width: 200px;
        padding: 1rem 1rem;
        /* background-color: antiquewhite; */
    }
  }

  @media only screen and (max-width: 1190px) {
    .hero .flex-space-between, .proj-card .flex-space-between  {
        flex-direction: column;
    }

    .col-1, .col-2 {
        width: 100%;
    }
  }

  @media only screen and (max-width: 900px) {

    .card-info {
        width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {

    .full-width-img {
        height: 30vh;
    }

    .proj-card h1 {
        font-size: 2.5rem;
        line-height: 1.5;
    }
  }
